{% extends "base.html" %}
{% block title %}Artists - MusicDB{% endblock %}

{% block content %}
    <div class="container pt-5 pb-5">
        <h2 class="display-5 text-center pb-4">Artists</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for artist in object_list %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <a href="{% url "artists" %}{{ artist.id }}" class="stretched-link"></a>
                            <h5 class="card-title">{{ artist.name }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

