{% extends "base.html" %}
{% block title %}Artists - MusicDB{% endblock %}

{% block content %}
    <div class="container pt-5 pb-5">
        <h2 class="display-5 text-center pb-4">Artists</h2>
        <div class="list-group list-group-flush">
            {% for artist in object_list %}
                    <a href="{% url "artists" %}{{ artist.id }}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="m-2">
                                <h5 class="mb-1">{{ artist.name }}</h5><span>{{ artist.year_begin|date:"Y"}} -
                                    {% if artist.year_end is None %}
                                    present
                                    {% else %}
                                    {{ artist.year_end|date:"Y"}}
                                    {% endif %}
                                </span>
                                <p class="mb-1 mt-2">{{ artist.about }}</p>
                            </div>
                        </div>
                    </a>
            {% endfor %}
        </div>
        <div class="mt-3">
            <nav aria-label="navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

