{% extends "base.html" %}

{% block content %}
    <div class="container text-center mx-auto pb-3 p-5">
        <h1 class="display-3">MusicDB</h1>
        <p class="lead">Welcome to our music database! Here you will find a vast collection of music from a variety of genres and artists. Our easy-to-use website allows you to search for your favorite songs and discover new ones. Whether you're a music enthusiast or just looking for the perfect soundtrack for your next event, we have something for everyone. So kick back, relax, and let the music flow!</p>
        <hr class="mt-5">
    </div>

    <div class="container mb-5">
        <h2 class="display-5 text-center pb-4">Latest albums</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for album in object_list|slice:"0:3"%}
            <div class="col">
                <div class="card h-100">
                    <a href="{% url "albums" %}{{ album.id }}" class="stretched-link"></a>
                    <img src="{{ album.cover.url }}" class="card-img-top" alt="{{ album.name }} album cover">
                    <div class="card-body">
                        <h5 class="card-title">{{ album.name }}<span> ({{ album.release_date|date:"Y" }})</span></h5>
                        <p class="card-text"><small class="text-muted">by {{ album.artist }}</small></p>
                        <p class="card-text">{{ album.about|truncatewords:40}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}