{% extends "base.html" %}
{% load rating_color %}
{% block title %}{{ object.name }} - MusicDB{% endblock %}
{% block content %}

<div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-sm-3 overflow-auto">
                <h2 class="display-6">{{ object.name }}</h2>
                <h5 class="d-inline">{{ object.artist }}</h5>
                {% if review_list %}
                    <div class="d-inline float-end align-middle">
                        <span class="badge {{ object.rating|set_color }} ms-2">{{ object.rating }}</span>
                    </div>
                {% endif %}
                <img class="img-fluid mb-3 mt-3" src="{{ object.cover.url }}" alt="cover">
                <ul class="list-unstyled">
                    <li>
                        <strong>Release date:</strong>
                        {{ object.release_date }}
                    </li>
                    <li>
                        <strong>Genre:</strong>
                        {% for genres in object.genre.all %}
                            {% if forloop.last %}
                                {{ genres.name }}
                            {% else %}
                                {{ genres.name }},
                            {% endif %}
                        {% endfor %}
                    </li>
                    <li>
                        <strong>Label:</strong>
                        {{ object.label }}
                    </li>
                    <li>
                        <strong>Length:</strong>
                        {{ object.length }}
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 mt-2">
                <nav>
                    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">About</button>
                      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tracklist</button>
                      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Reviews</button>
                    </div>
                  </nav>
                  <div class="tab-content container" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <p class="lead">{{ object.about }}</p>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for track in track_list.all %}
                                <tr>
                                    <th scope="row">{{ track.number }}</th>
                                    <td>{{ track.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        {% comment %}<ul class="list-group list-group-flush list-group-numbered">
                            {% for track in track_list.all %}
                                <li class="list-group-item lead">{{ track.name }}</li>
                            {% endfor %}
                        </ul>{% endcomment %}
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row">
                            {% if not review_list %}
                                <h1 class="text-center display-6 text-muted">Sorry, no reviews available.</h1>
                            {% else %}
                                {% for review in review_list.all %}
                                    <div class="col-sm-6 mb-3">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ review.reviewer }}<span class="badge {{ review.rating|set_color }} ms-2">{{ review.rating }}</span></h5>
                                                <p class="card-text">{{ review.text }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        {% if user.is_superuser %}
            <a href="{% url "album_update" object.id %}" class="btn btn-xs btn-outline-dark" role="button"><span class="bi bi-pencil-square"></span></a>
            <a href="{% url "album_delete" object.id %}" class="btn btn-xs btn-outline-danger" role="button"><span class="bi bi-x-square"></span></a>
        {% endif %}
    </div>
{% endblock %}